// ----------------------------------------
// Table of Contents
// ----------------------------------------
// - colors
// - helpers
// - components
//   - .loader
// - pages
//   - .authen


// ----------------------------------------
// -- colors
// ----------------------------------------
$theme-color: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
$theme-color2: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
$primary-color: #04a9f5;
$success-color: #1de9b6;


// ----------------------------------------
// -- helpers
// ----------------------------------------
  // breakpoints
  $breakpoints: (
    xs-start: 0px,
    xs-end:   575px,
    sm-start: 576px,
    sm-end:   767px,
    md-start: 768px,
    md-end:   991px,
    lg-start: 992px,
    lg-end:   1199px,
    xl-start: 1200px
 );


// ----------------------------------------
// -- components
// ----------------------------------------
  // ----------------------------------------
  // -- components
  // ----------------------------------------
    $loader-color: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
