/*
// .transform
*/
@mixin transform($x) {
  transform: $x;
  -webkit-transform: $x;
  -moz-transform: $x;
  -ms-transform: $x;
  -o-transform: $x;
}

@mixin transform($value) {
  transform: $value;
}
