// fonts
$font-current-theme:    'Inter', sans-serif;

$body-font:             $font-current-theme;
$heading-font:          $font-current-theme;

$font-size-base: 14px;


// colors
$primary:               #8f1b1b;
$theme-color:           #8f1b1b;
$heading-color:         #000;
$body-color:            #666666;


// line height
$base-line-height:      24px;
$body-line-height:      1.7142857143;


// paragraph spacing
$paragraph-spacing: 0px;
