/*
// .authentication
*/
@import "../variables";

.account {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;

  .card {
    margin-bottom: 0;
  }

  .input-group {
    background: transparent;
  }

  @media only screen and (max-width: breakpoints(sm-end)) {
    max-width: 360px;
  }

  @media only screen and (max-width: breakpoints(xs-end)) {
    .card {
      .card-body {
        padding: 30px 15px;
      }
    }
  }
}

.account__content {
  position: relative;
  width: 390px;
  padding: 15px;
  z-index: 5;

  &.multyform,
  &.subscribe {
    width: 750px;
  }
}

.account__background {
  .r {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    &:first-child {
      top: -100px;
      right: -100px;
      background: $theme-color;
    }

    &:last-child {
      left: -100px;
      bottom: -100px;
      background: $theme-color2;
    }

    &.s {
      width: 20px;
      height: 20px;
      &:nth-child(2) {
        top: 150px;
        right: -150px;
        background: $primary-color;
      }

      &:nth-child(3) {
        left: -150px;
        bottom: 150px;
        background: $success-color;
      }
    }

    &:nth-child(odd) {
      animation: floating 7s infinite;
    }

    &:nth-child(even) {
      animation: floating 9s infinite;
    }
  }
}

.account__icon {
  font-size: 30px;

  &:before {
    background: $theme-color;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes floating {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}
